/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  margin: 0px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
  padding-top: 20px;
}
p {
  margin-top: 0px;
}

header {
  color: white;
  width: 80%;
  height: 350px;
  margin: 0 auto;
}

h1 {
  font-weight: 800;
  font-size: 24px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button {
  width: 130px;
  height: 30px;
  border:0;
  border-radius: 5px;
  background-color: #f9e42e;
  font-weight: 800;
  font-size: 14px;
  color: #033048;
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.benefits {
  background-color: #f0efef;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.bencontainer {
  width: 500px;
  height: 100%;
  margin: 0 auto;
}

.bentext {
  width:300px;
  height: 100%;
  /*display: inline-block;*/
  margin-right: 20px;
  float: left;
  padding-right: 10px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  color: #033048;
  margin-top: 40px;
  margin-bottom: 0px;
}

.bentext p {
  font-weight: 300;
  font-size: 11px;
}

.bentext li {
  margin-right: 20px;
  font-size: 13px;
  font-weight: 300;
}

.benbutton {
  width: 130px;
  height: 100%;
  float: right;
  position: relative;
}

.clear {
  clear: both;
}

#secbutton {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.featuresec {
  background-color: #f9e42e;
  height: 250px;
  width: 100%;
  text-align: center;
  /*position: relative;*/
  white-space: nowrap;
  overflow: hidden;
}

.feature {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 40px;
  margin-top: 50px;
  background-color: #387AC6;
  /*position: relative;*/
}

.feature p {
  position: relative;
  top: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.testimonial {
  color: white;
  height: 160px;
  background-image: url("../images/testimonial_bg.jpg");
  /*position: relative;*/
  text-align: center;
}

.testquote {
  display: inline-block;
  margin-top: 40px;
  width: 200px;
  font-weight: 300;
  font-style: italic;
}

.byline  {
  margin-top: -10px;
}

.signupsec {
  background-color: #f9e42e;
  height: 65px;
  /*position: relative;*/
  padding-top: 18px;
}

#signbutton {
  background-color:#033048;
  color: white;
}

footer {
  height: 180px;
  background-color: black;
  color: white;
  /*position: relative;*/
  text-align: center;
  padding-top: 20px;
}

.relaxrfoot {
  font-size: 24px;
  font-weight: 800;
  color: #f9e42e;
}

.twitter {
  width: 25px;
  margin-right: 20px;
}

.fb {
  max-width: 25px;
  height: 25px;
  margin-right: 12px;
}
.copyright {
  margin-top: 35px;
  font-size: 9px;
  font-weight: 300;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
